version: '3'
services:

  db:
    image: postgres:9.6-alpine
    volumes:
    - /var/data/docker-data/mastodon-postgres:/var/lib/postgresql/data

  redis:
    image: redis:4.0-alpine
    volumes:
    - /var/data/docker-data/mastodon-redis:/data

  web:
    build: .
    image: us.gcr.io/centi-gitlab/centidon
    env_file: .env.production
    command: /mastodon/web_boot.sh
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis

  streaming:
    build: .
    image: us.gcr.io/centi-gitlab/centidon
    env_file: .env.production
    command: npm run start
    ports:
      - "4000:4000"
    depends_on:
      - db
      - redis

  sidekiq:
    build: .
    image: us.gcr.io/centi-gitlab/centidon
    env_file: .env.production
    command: bundle exec sidekiq -q default -q mailers -q pull -q push
    depends_on:
      - db
      - redis
    volumes:
      - ./public/packs:/mastodon/public/packs
      - ./public/system:/mastodon/public/system
